Create a securityContact ExternalIdentifierType

Suggested during a review of a [BSI](https://www.bsi.bund.de/EN/Home/home_node.html) proposal.

Having a security contact would support implementation of [RFC 9116 section 2.5.3](https://www.rfc-editor.org/rfc/rfc9116.html#section-2.5.3) as part of the SPDX metadata.

May be benefit from thinking about this together with "Steward" concept in #855

Discussion in the June 10th security meeting:

- Propose to use a new SPDX relationship between Artifact and and Agent - _hasSecurityContactPoint_ FROM Artifact Element TO Agent 
- Additionally, add phone and webpage as an ExternalIdentifierType .
- Related TODOs: Hardware needs to come off of Artifact, clean up Artifact... instead of hardware come off of element.
@goneall @kestewart thoughts? I will bring this to next weeks tech call as well

hasSecurityContactPoint can include a location(digital  or physical) too... 